.auth-page-container {
    font-size: medium;
}

.auth-form-main-heading {
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 10px
}

.auth-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form-section {
    width: 60%;
    text-align: center;
}

.auth-form-login-button {
    background-color: white;
    height: 2.5rem;
    width: 63%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #edecec;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
}

.auth-form-login-button div {
    display: flex;
    align-items: center;
}

.auth-form-login-button p {
    margin: 0;
    margin-left: 5px; /* Adjust the spacing between icon and text as needed */
}

.auth-form-login-button:hover {
    background-color: #F3F4F6;
    border: 1px solid rgb(151, 151, 151);
    cursor: pointer;
}

.auth-form-sign-up-with-email-divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form-sign-up-with-email-divider > .line {
    height: 1px;
    background-color: rgb(151, 151, 151);
    width: 80px;
}

.auth-form-sign-up-with-email-divider > .content {
    margin: 0 10px;
}

.auth-section-sign-up-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 63%;
    margin: auto;
}

.auth-section-sign-up-form input{
    background-color: white;
    height: 2.5rem;
    border: 1px solid #edecec;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    padding-left: 10px;
    margin-top: 5px;
    font-size: inherit;
}

.auth-section-sign-up-form #auth-page-submit {
    background-color: rgb(0, 0, 0);
    height: 2.5rem;
    border: 1px solid #edecec;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    color: white;
}

.auth-section-sign-up-form #auth-page-submit:hover {
    background-color: rgb(32, 32, 32);
    cursor: pointer;
}